*, html * {
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
body{
	color: #222;
}

.bingo-game,
.bingo-game-footer {
	width: 960px;
	margin: 0 auto;

}

.bingo-game-footer{
	text-align: center;
	font-size: 10px;
}

.bingo-game .main-header{
	padding: 20px 0px;
}

.bingo-game .main-header h1{
	font-size: 32px;
	text-align: center;
}

#caller-table,
#card-table{
	display: inline-block;
}

/* Caller Table */

#caller-table{
	vertical-align: top;
	width: 250px;
}

#bingo-caller{

}

#bingo-caller span{
	display: inline-block;
}

#bingo-caller .caller-header{
	
}

#bingo-caller .caller-header .called-number-title{
	display: block;
	font-size: 26px;
	border: 1px solid #ff7777;
	border-bottom: 1px dotted #ff7777;
	text-align: center;
	width: 100%;
}

#bingo-caller .caller-header #called-number{
	border: 1px solid #ff7777;
	border-top: none;
	color: #ff7777;
	display: block;
	font-size: 24px;
	font-weight: bold;
	margin: 0px auto;
	/*width: 40px;*/
	text-align: center;
	width: 100%;
}

#bingo-caller .caller-header .letter{
	margin-top: 20px;
}

#numbers-board{

}

#numbers-board .b-col,
#numbers-board .i-col,
#numbers-board .n-col,
#numbers-board .g-col,
#numbers-board .o-col,
#bingo-caller .caller-header .letter{
	display: inline-block;
	padding: 3px 0px;
	text-align: center;
	width: 50px;
}

#numbers-board .b-col,
#numbers-board .i-col,
#numbers-board .n-col,
#numbers-board .g-col,
#numbers-board .o-col{
	color: #fefefe;
}

#numbers-board .b-col,
#numbers-board .n-col,
#numbers-board .o-col{
	background-color: #e0e0e0;

}

#numbers-board .i-col,
#numbers-board .g-col{
	background-color: #efefef;

}
#numbers-board .b-col.called,
#numbers-board .i-col.called,
#numbers-board .n-col.called,
#numbers-board .g-col.called,
#numbers-board .o-col.called{
	color: #222;
}

#start-button{
	border: 1px solid;
	border-color: #bcc1c8 #bababa #adb2bb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #eff0f3;
	background: -moz-linear-gradient(top, #f7f8fa, #e7e9ec);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f8fa), color-stop(100%, #e7e9ec));
	background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
	background: -o-linear-gradient(top, #f7f8fa, #e7e9ec);
	background: -ms-linear-gradient(top, #f7f8fa, #e7e9ec);
	background: linear-gradient(top, #f7f8fa, #e7e9ec);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f8fa', endColorstr='#e7e9ec',GradientType=0);
	height: 30px;
	width: 80px;
	margin-top: 20px;
}

/* CARD TABLE */
#card-table{
	width: 705px;
	vertical-align: top;
}

#card-table .bingo-card{
	max-width: 350px;
	border: 1px solid #7777FF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#card-table .bingo-card .card-header{
	color: #7777ff;
	text-align: center;
}

#card-table .bingo-card .card-header .bingo-cell-title{
	border-left: 1px solid #7777FF;
}

#card-table .bingo-card .card-header .bingo-cell-title:first-child{
	border-left: none;
}

#card-table .bingo-card .bingo-row{
	border-top: 1px solid #222;
	width: 100%;
}

#card-table .bingo-card .bingo-row .bingo-cell,
#card-table .bingo-card .card-header .bingo-cell-title{
	display: inline-block;
	height: 70px;
	padding: 25px 0px;
	text-align: center;
	vertical-align: middle;
	width: 20%;
}

#card-table .bingo-card .bingo-row .bingo-cell{
	border-right: 1px solid #222;
}

#card-table .bingo-card .bingo-row .bingo-cell:last-child{
	border-right: none;
}

#card-table .bingo-card .bingo-row .bingo-cell.clicked{
	background-color: #7777FF;
	color: #FFFFFF;
}

