*, html * {
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
body{
	color: #222;
}

.bingo-game,
.bingo-game-footer {
	width: 960px;
	margin: 0 auto;
}

.bingo-game-footer{
	font-size: 10px;
	text-align: center;
	padding: 10px 0px;
}

.bingo-game .main-header{
	padding: 20px 0px;
}

.bingo-game .main-header h1{
	font-size: 32px;
	text-align: center;
}

#caller-table,
#card-table{
	display: inline-block;
}

/* Caller Table */

#caller-table{
	vertical-align: top;
	width: 250px;
}

#bingo-caller{

}

#bingo-caller span{
	display: inline-block;
}

#bingo-caller .caller-header{
	
}

#bingo-caller .caller-header .called-number-title{
	display: block;
	font-size: 26px;
	border: 1px solid #ff7777;
	border-bottom: 1px dotted #ff7777;
	text-align: center;
	width: 100%;
}

#bingo-caller .caller-header #called-number{
	border: 1px solid #ff7777;
	border-top: none;
	color: #ff7777;
	display: block;
	font-size: 24px;
	font-weight: bold;
	margin: 0px auto;
	/*width: 40px;*/
	text-align: center;
	width: 100%;
}

#bingo-caller .caller-header .letter{
	margin-top: 20px;
}

#numbers-board{

}

#numbers-board .b-col,
#numbers-board .i-col,
#numbers-board .n-col,
#numbers-board .g-col,
#numbers-board .o-col,
#bingo-caller .caller-header .letter{
	display: inline-block;
	padding: 3px 0px;
	text-align: center;
	width: 50px;
}

#numbers-board .b-col,
#numbers-board .i-col,
#numbers-board .n-col,
#numbers-board .g-col,
#numbers-board .o-col{
	color: #fefefe;
}

#numbers-board .b-col,
#numbers-board .n-col,
#numbers-board .o-col{
	background-color: #e0e0e0;

}

#numbers-board .i-col,
#numbers-board .g-col{
	background-color: #efefef;

}
#numbers-board .b-col.called,
#numbers-board .i-col.called,
#numbers-board .n-col.called,
#numbers-board .g-col.called,
#numbers-board .o-col.called{
	color: #222;
}

#start-button{
	border: 1px solid;
	border-color: #bcc1c8 #bababa #adb2bb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #eff0f3;
	background: -moz-linear-gradient(top, #f7f8fa, #e7e9ec);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f8fa), color-stop(100%, #e7e9ec));
	background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
	background: -o-linear-gradient(top, #f7f8fa, #e7e9ec);
	background: -ms-linear-gradient(top, #f7f8fa, #e7e9ec);
	background: linear-gradient(top, #f7f8fa, #e7e9ec);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f8fa', endColorstr='#e7e9ec',GradientType=0);
	height: 30px;
	width: 80px;
	margin-top: 20px;
}

/* CARD TABLE */
#card-table{
	padding: 0px 20px;
	width: 705px;
	vertical-align: top;
}

#card-table .bingo-card{
	max-width: 302px;
	border: 1px solid #7777FF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	margin-right: 20px;
}
#card-table .bingo-card.computer{
	border: 1px solid #FF77FF;
}

#card-table .bingo-card .card-header{
	color: #7777ff;
	display: flex;
	width: 300px;
	text-align: center;
}

#card-table .bingo-card.computer .card-header{
	color: #FF77FF;
}

#card-table .bingo-card .card-header .bingo-cell-title{
	border-left: 1px solid #7777FF;
}

#card-table .bingo-card.computer .card-header .bingo-cell-title{
	border-left: 1px solid #FF77FF;
}

#card-table .bingo-card .card-header .bingo-cell-title:first-child,
#card-table .bingo-card.computer .card-header .bingo-cell-title:first-child{
	border-left: none;
}

#card-table .bingo-card .bingo-row{
	border-top: 1px solid #222;
	/*width: 100%;*/
	display: flex;
	width: 300px;
}

#card-table .bingo-card .bingo-row .bingo-cell,
#card-table .bingo-card .card-header .bingo-cell-title{
	/*display: inline-block;*/
	flex: 1;
	height: 60px;
	padding: 22px 0px;
	text-align: center;
	vertical-align: middle;
	/*width: 20%;*/
}

#card-table .bingo-card .bingo-row .bingo-cell{
	border-right: 1px solid #222;
}

#card-table .bingo-card .bingo-row .bingo-cell:last-child{
	border-right: none;
}

#card-table .bingo-card .bingo-row .bingo-cell.clicked{
	background-color: #7777FF;
	color: #FFFFFF;
}

#card-table .bingo-card.computer .bingo-row .bingo-cell.clicked{
	background-color: #FF77FF;
}

#card-table .bingo-card footer{
	border-top: 1px solid #7777FF;
	padding: 10px 0px;
	text-align: center;
}
#card-table .bingo-card.computer footer{
	border-top: 1px solid #FF77FF;
}

#card-table .bingo-card .call-bingo{
	border: 1px solid;
	border-color: #bcc1c8 #bababa #adb2bb;
	color: #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #7777FF;
	background: -moz-linear-gradient(top, #7777FF, #5555FF);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7777FF), color-stop(100%, #5555FF));
	background: -webkit-linear-gradient(top, #7777FF, #5555FF);
	background: -o-linear-gradient(top, #7777FF, #5555FF);
	background: -ms-linear-gradient(top, #7777FF, #5555FF);
	background: linear-gradient(top, #7777FF, #5555FF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7777FF', endColorstr='#5555FF',GradientType=0);
	line-height: 14px;
	height: 30px;
	width: 80px;
}

#card-table .bingo-card.computer .call-bingo{
	/*border-color: #bcc1c8 #bababa #adb2bb;*/
	background: #FF77FF;
	background: -moz-linear-gradient(top, #FF77FF, #FF55FF);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF77FF), color-stop(100%, #FF55FF));
	background: -webkit-linear-gradient(top, #FF77FF, #FF55FF);
	background: -o-linear-gradient(top, #FF77FF, #FF55FF);
	background: -ms-linear-gradient(top, #FF77FF, #FF55FF);
	background: linear-gradient(top, #FF77FF, #FF55FF);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF77FF', endColorstr='#FF55FF',GradientType=0);
}


#message {
	-webkit-transition: height 1s;
	-moz-transition: height 1s;
	-o-transition: height 1s;
	transition: height 1s;
}

#message.hide{
	height: 0px;
	width: 0px;
	font-size: 0px;
}

#message.show{
	background-color: #FFF;
	border: 2px solid #FF7777;
	font-size: 16px;
	height: 200px;
	width: 200px;
	position: fixed;
	padding: 80px 0px 0px 0px;
	top: 200px;
	left: calc(50% - 200px);
	overflow: hidden;
}
