section#call-table
    div#bingo-caller
        header.caller-header
            span.called-number-title Current Number
            input(id="called-number", type="text", placeholder="Press Start to Play", readonly)
            span.letter B
            span.letter I
            span.letter N
            span.letter G
            span.letter O
        div#number-board
            span.b-col.B1(data-number="1") 1
            span.i-col.I16(data-number="16") 16
            span.n-col.N31(data-number="31") 31
            span.g-col.G46(data-number="46") 46
            span.o-col.O61(data-number="61") 61
            span.b-col.B2(data-number="2") 2
            span.i-col.I17(data-number="17") 17
            span.n-col.N32(data-number="32") 32
            span.g-col.G47(data-number="47") 47
            span.o-col.O62(data-number="62") 62
            span.b-col.B3(data-number="3") 3
            span.i-col.I18(data-number="18") 18
            span.n-col.N33(data-number="33") 33
            span.g-col.G48(data-number="48") 48
            span.o-col.O63(data-number="63") 63
            span.b-col.B4(data-number="4") 4
            span.i-col.I19(data-number="19") 19
            span.n-col.N34(data-number="34") 34
            span.g-col.G49(data-number="49") 49
            span.o-col.O64(data-number="64") 64
            span.b-col.B5(data-number="5") 5
            span.i-col.I20(data-number="20") 20
            span.n-col.N35(data-number="35") 35
            span.g-col.G50(data-number="50") 50
            span.o-col.O65(data-number="65") 65
            span.b-col.B6(data-number="6") 6
            span.i-col.I21(data-number="21") 21
            span.n-col.N36(data-number="36") 36
            span.g-col.G51(data-number="51") 51
            span.o-col.O66(data-number="66") 66
            span.b-col.B7(data-number="7") 7
            span.i-col.I22(data-number="22") 22
            span.n-col.N37(data-number="37") 37
            span.g-col.G52(data-number="52") 52
            span.o-col.O67(data-number="67") 67
            span.b-col.B8(data-number="8") 8
            span.i-col.I23(data-number="23") 23
            span.n-col.N38(data-number="38") 38
            span.g-col.G53(data-number="53") 53
            span.o-col.O68(data-number="68") 68
            span.b-col.B9(data-number="9") 9
            span.i-col.I24(data-number="24") 24
            span.n-col.N39(data-number="39") 39
            span.g-col.G54(data-number="54") 54
            span.o-col.O69(data-number="69") 69
            span.b-col.B10(data-number="10") 10
            span.i-col.I25(data-number="25") 25
            span.n-col.N40(data-number="40") 40
            span.g-col.G55(data-number="55") 55
            span.o-col.O70(data-number="70") 70
            span.b-col.B11(data-number="11") 11
            span.i-col.I26(data-number="26") 26
            span.n-col.N41(data-number="41") 41
            span.g-col.G56(data-number="56") 56
            span.o-col.O71(data-number="71") 71
            span.b-col.B12(data-number="12") 12
            span.i-col.I27(data-number="27") 27
            span.n-col.N42(data-number="42") 42
            span.g-col.G57(data-number="57") 57
            span.o-col.O72(data-number="72") 72
            span.b-col.B13(data-number="13") 13
            span.i-col.I28(data-number="28") 28
            span.n-col.N43(data-number="43") 43
            span.g-col.G58(data-number="58") 58
            span.o-col.O73(data-number="73") 73
            span.b-col.B14(data-number="14") 14
            span.i-col.I29(data-number="29") 29
            span.n-col.N44(data-number="44") 44
            span.g-col.G59(data-number="59") 59
            span.o-col.O74(data-number="74") 74
            span.b-col.B15(data-number="15") 15
            span.i-col.I30(data-number="30") 30
            span.n-col.N45(data-number="45") 45
            span.g-col.G60(data-number="60") 60
            span.o-col.O75(data-number="75") 75
        button#start-button Start Game