section#card-table
    div.instructions
        header
            h2 How to Play:
        ul
            li To start the game, press the start button below the number board.
            li You will have 4 seconds to find the number that was called on your card before the next number is called.
            li The center cell without a number is called the free space and is automactically given to you.
            li You can win by having all numbers in a row horizontally, vertically or diagonally.
        p.note Side note:
            br
            .
             is a work in progress (Beta). If you find any bugs, please add them to 
            a(href="https://github.com/missu/dl_bingo/issues") the bug tracker on github
            