@import (reference) "colors.less";

#caller-table {
	vertical-align: top;
	width: 250px;

    #bingo-caller {
        span {
	        display: inline-block;
        }
        .caller-header {
            .called-number-title {
            	display: block;
            	font-size: 25px;
            	border: 1px solid @caller-table-base-color;
            	border-bottom: 1px dotted @caller-table-base-color;
            	letter-spacing: -0.9px;
            	text-align: center;
            	width: 100%;
            }
            #called-number {
            	border: 1px solid @caller-table-base-color;
            	border-top: none;
            	color: @caller-table-base-color;
            	display: block;
            	font-size: 24px;
            	font-weight: bold;
            	margin: 0px auto;
            	/*width: 40px;*/
            	text-align: center;
            	width: 100%;
            }
            /* The browser ignores these lines if I combine them into one */
            #called-number:-ms-input-placeholder {
            	color: @caller-table-base-color;
            	font-size: 18px;
            	line-height: 30px;
            }
            #called-number::-moz-placeholder {
            	color: @caller-table-base-color;
            	font-size: 18px;
            	line-height: 30px;
            }
            #called-number::-webkit-input-placeholder {
            	color: @caller-table-base-color;
            	font-size: 18px;
            	line-height: 30px;
            }
            .letter {
            	margin-top: 20px;
            }
        }
        #numbers-board .b-col,
        #numbers-board .i-col,
        #numbers-board .n-col,
        #numbers-board .g-col,
        #numbers-board .o-col,
        .caller-header .letter {
        	display: inline-block;
        	padding: 3px 0px;
        	text-align: center;
        	width: 50px;
        }
        #numbers-board {
            .b-col,
            .i-col,
            .n-col,
            .g-col,
            .o-col {
            	color: @caller-table-number;
            }
            .b-col,
            .n-col,
            .o-col {
	               background-color: @caller-table-bg1;
            }
            .i-col,
            .g-col {
	               background-color: @caller-table-bg2;
            }
            .b-col.called,
            .i-col.called,
            .n-col.called,
            .g-col.called,
            .o-col.called {
            	color: @caller-table-called;
            }
        }
        
        @start-btn-base-color: #EFF0F3;
        @start-btn-start-color: #F7F8FA;
        @start-btn-start-color: #E7E9EC;
        
        #start-button {
        	border: 1px solid;
        	border-color: #bcc1c8 #bababa #adb2bb;
        	-webkit-border-radius: 3px;
        	-moz-border-radius: 3px;
        	border-radius: 3px;
        	background: @start-btn-base-color;
        	background: -moz-linear-gradient(top, @start-btn-start-color, @start-btn-start-color);
        	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @start-btn-start-color), color-stop(100%, @start-btn-start-color));
        	background: -webkit-linear-gradient(top, @start-btn-start-color, @start-btn-start-color);
        	background: -o-linear-gradient(top, @start-btn-start-color, @start-btn-start-color);
        	background: -ms-linear-gradient(top, @start-btn-start-color, @start-btn-start-color);
        	background: linear-gradient(top, @start-btn-start-color, @start-btn-start-color);
        	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=@start-btn-start-color, endColorstr=@start-btn-start-color,GradientType=0);
        	height: 30px;
        	width: 80px;
        	margin-top: 20px;
        }
    }
}
